@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;600;700;800&family=Silkscreen&family=Space+Mono:wght@400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;600;700;800&family=Castoro+Titling&family=Silkscreen&family=Space+Mono:wght@400;700&display=swap');


:root {
  --border: #474747;
  --background: #2d2d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Silkscreen', cursive;
}

h1 {
  font-family: 'Castoro Titling', cursive;
  margin-bottom: 2rem;
}

.circle-picker {
  background-color: rgb(239, 239, 239);
  padding: 2rem;
  border-radius: 10px;
}
