* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#board {
  /* display: flex; */
  /* width: 400px; */
  /* border: solid pink 2px; */
  /* background-color: red; */
}

.pixel {
  width: 36.36px;
  height: 36.36px;
  /* border: solid 2px gray; */
}

.row {
  display: flex;
}

.image>* {
  border:none;  
}